{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashbag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}